* {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
}

body {
  text-align: center;
  padding: 2rem;
  min-height: 100vh;
  background: linear-gradient(180deg, #7c2d80 5%, #685797 98%);
  color: #fff;
}

h2 {
  margin-bottom: 1rem;
}

#multiplication-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  color: #333;
  animation: fadeIn 1s ease forwards;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#multiplication-form,
#multiplication-operations {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY();
  }
}

/* Form elements */
.form-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  margin: 0 1rem;
}

.form-control label {
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  font-weight: bold;
}

.form-control input {
  margin-bottom: 1rem;
  flex: 1;
  padding: 0.6rem 0.4rem;
  border: 1px solid #2d2c2c;
  width: 50px;
  border-radius: 4px;
  text-align: center;
  transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.form-control input:hover {
  transform: scale(1.05); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#multiplication-form input[type="submit"] {
  max-height: 50px;
  padding: 0.6rem 1.2rem;
  width: 200px;
  color: #fff;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#multiplication-form input[type="submit"]:hover {
  background-color: #269737;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

#multiplication-operations {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 1rem auto;
  padding: 1rem 1rem;
  background-color: #fff;
  color: #333;
  border-radius: 0.5rem;
}

#multiplication-operations .row {
  display: flex;
  color: #333;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f9f9f9;
  transition: background-color 0.5s ease, box-shadow 0.1s ease,
    transform 0.3s ease;
}

#multiplication-operations .row:hover {
  background-color: #eaeaea;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

#multiplication-operations .row:nth-child(even) {
  background-color: #f5f5f5;
}

#multiplication-operations .operation {
  font-weight: bold;
  margin-right: 0.5rem;
}

#multiplication-operations .result {
  font-weight: bold;
  color: #333;
}
